/* APP DEFAULTS */
* { font-family:Roboto,Helvetica, Arial,sans-serif!important; }
body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/* PREVENT TEXT SELECTION */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*
input,select {
	font-family:'Roboto',Helvetica, Arial,sans-serif;
}
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-indent:.5em;
}
::-moz-placeholder { /* Firefox 19+ */
	text-indent:.5em;
}
:-ms-input-placeholder { /* IE 10+ */
	text-indent:.5em;
}
:-moz-placeholder { /* Firefox 18- */
	text-indent:.5em;
}
/*
	HEADINGS
	Based On: https://www.w3.org/TR/CSS21/sample.html
*/
h1 { font-size: 2em; } 
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.75em; }
h1,h2,h3,h4,h5,h6
{ font-weight:500; }
hr { margin:1em 0;border:none;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(0,0,0,0.1); }
p { padding:1em 0 0 0; }
/* CONTANIER STYLES */
.read-only { pointer-events:none; }
.all { height:100vh; width:100%; }
.example { padding:1em;margin:0em 0em 2em 0em;overflow:hidden; }
.example-text { font-style:italic;color:rgba(0,0,0,0.5); }
.no-overflow { overflow:hidden; }
.scroll-1 { display:block;height:calc(100vh - 3.5em);overflow:auto; }
.scroll-2 { display:block;height:calc(100vh - 7em);overflow:auto; }
.scroll-3 { display:block;height:calc(100vh - 10.5em);overflow:auto; }
.scroll-4 { display:block;height:calc(100vh - 14em);overflow:auto; }
.scroll-horizontal { overflow-x:auto;overflow-y:hidden; }
.scroll-vertical { overflow-x:hidden;overflow-y:auto; }
.rounded { border-radius:.15em; }
.noshadow { box-shadow:none!important; }
.noshadow:hover { box-shadow:none!important; }
.bordered { border:1px solid rgba(0,0,0,0.15); }
.shadow { box-shadow:0 5px 10px rgba(0,0,0,0.25); }
.shadow-bar { box-shadow:0 2px 4px rgba(0,0,0,0.25);position:relative;z-index:1000; }
.shadow-box { box-shadow:0 1px 3px rgba(0,0,0,0.15); }
/* PADDING */
.pad-dot-25 { padding:.25em; }
.pad-dot-5 { padding:.5em; }
.pad-dot-75 { padding:.75em; }
.pad-1 { padding:1em; }
.pad-2 { padding:2em; }
.pad-3 { padding:3em; }
/* RESPONSIVE PADDING */
/* Dash between media query values */
/* /.pad-1-2 = pad-1em@768px-2em@992px+ */
/* /.pad-1-2-3 = pad-1em@768px-2em@992px-3em@1200px+ */
.pad-0-1 { padding:0; }
.pad-1-2 { padding:1em; }
/* HIDING */
.hide { display:none; }
/* TEXT ALIGNMENT */
.ta-left { text-align:left; }
.ta-right { text-align:right; }
/* FONT SIZES */
.fs-0-8175 { font-size:0.8175em; }
.fs-0-875 { font-size:0.875em; }
.fs-0-9 { font-size:0.9em; }
.fs-1 { font-size:1em; }
.fs-1-1 { font-size:1.1em; }
.fs-1-15 { font-size:1.15em; }
.fs-1-25 { font-size:1.25em; }
.fs-1-5 { font-size:1.5em; }
.fs-1-75 { font-size:1.75em; }
.fs-2 { font-size:2em; }
/* FONT WEIGHTS */
.fw-100 { font-weight:100; }
.fw-300 { font-weight:300; }
.fw-400 { font-weight:400; }
.fw-700 { font-weight:700; }
/* CONTAINERS */
.container-1024 { display:block;max-width:1024px;margin:0; }
.container-flex-1024 {
	flex:1;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	min-height:100%;
	overflow-y:auto;
}
.container-1024 { display:block;max-width:1024px;margin:0; }
.container-flex-1280 {
	flex:1;
	margin-left:0;
	margin-right:0;
	min-height:100%;
	overflow-y:auto;
}
/* UI-BOX */
.ui-layout-box { display:block;padding:1em;margin:0em 0em 2em 0em;overflow:hidden; }
/* UI-CELL */
.ui-cell {
	flex:1 0 15em;
	padding:0em .5em;
}
/* UI-LAYOUT-LEFT */
.ui-layout-left { }
.ui-layout-left-sidebar { flex:0 0 100%; }
.ui-layout-left-body { flex:1; }
/* UI-LAYOUT-RIGHT */
.ui-layout-right { }
.ui-layout-right-sidebar { flex:0 0 100%; }
.ui-layout-right-body { flex:1; }
/* UI-LAYOUT-TITLE */
.ui-layout-title {
	padding:0em 0em 2em 0em;
}
/* UI-LAYOUT-TITLE */
.ui-layout-subtitle {
	display:block;
	padding:0em 0em 1em 0em;
}
/* LINK-LIST */
ul.link-list {
	list-style-type:none;
	margin:0;
	border:none;
}
ul.link-list > li {
	margin:0;
	padding:.5em .75em;
	cursor:pointer;
	transition:.25s ease-in-out all;
	/* border-bottom:1px solid rgba(0,0,0,0.1); */
	/* border-bottom:1px solid rgba(255,255,255,0.1); */
}
ul.link-list > li:hover {
	background:rgba(0,0,0,0.1);
}
ul.link-list > li > span > i {
	font-size:150%;
	margin:0 .65em 0 0;
}
/* LINK-LIST PANE */
ul.link-list.pane {
	min-width:300px;
	padding:.5em 0 0 0;
}
/*
	MEDIA QUERIES
	Based On: http://getbootstrap.com/css/#grid-media-queries
*/
@media only screen and (min-width:768px) {
	.block-mq-1 { display:block; }
	.flex-mq-1 { display:-webkit-box;display:flex; }
	.hide-mq-1 { display:none!important; }
	.container-1280 { margin:auto; }
	.container-1024 { margin:auto; }
}
@media only screen and (min-width:992px) {
	.block-mq-2 { display:block; }
	.container-flex-1024 {
		flex:1;
		max-width:1024px;
		margin-left:auto;
		margin-right:auto;
	}
	.container-flex-1280 {
		flex:1;
		max-width:1280px;
		margin-left:auto;
		margin-right:auto;
	}
	.flex-mq-2 { display:-webkit-box;display:flex; }
	.pad-0-1 { padding:1em; }
	.pad-1-2 { padding:2em; }
	.hide-mq-2 { display:none!important; }
	.ui-layout-left-sidebar { flex:1 0 25%;height:calc(100vh - 7em);overflow:auto; }
	.ui-layout-left-body { flex:1 0 75%;height:calc(100vh - 7em);overflow:auto; }
	.ui-layout-right-body { flex:1 0 75%;height:calc(100vh - 7em);overflow:auto; }
	.ui-layout-right-sidebar { flex:1 0 25%;height:calc(100vh - 7em);overflow:auto; }
}
@media only screen and (min-width:1200px) {
	.block-mq-3 { display:block; }
	.flex-mq-3 { display:-webkit-box;display:flex; }
	.hide-mq-3 { display:none!important; }
}
