<nav-bar-detail>
	<div class="nav-bar-detail f-row ai-center jc-between shadow-bar { opts.css }">
		<div class="left f-row ai-center" onclick="{ goBack }">
			<ui-icon ref="icon_back" mdicon="mdi mdi-arrow-left" />
			<div class="title"><span>Back </span></div>
		</div>
		<div class="right f-row ai-center">
			<yield />
		</div>
<!--
		<div if="{ opts.icons }" class="right f-row ai-center">
			<ui-icon each="{ opts.icons }" ref="{ ref }" mdicon="{ mdicon }" onclick="{ onclick }" />
		</div>
!-->
	</div>
	<style>
		.title { padding:0em .5em; }
		.title span { font-size:1.15em;font-weight:500; }
		.category { padding:0em .5em; }
		.category span { font-size:0.875;font-weight:400;opacity:0.5;text-transform:uppercase; }
		.nav-bar-detail { height:3.5em; }
		.left { padding-left:.5em; }
		.right { padding-right:.5em; }
	</style>
	<script>
		this.mixin(IO.default);
	</script>
</nav-bar-detail>
