<nav-bar>
	<div class="nav-bar f-row ai-center jc-between { opts.css }">
		<div class="left f-row ai-center">
			<ui-icon ref="menu_icon" mdicon="mdi mdi-menu" onclick="{ navMenuClick }" />
			<div class="logo-resize"><div class="logo-bg"></div></div>

			<div if="{ opts.title }" class="f-row ai-center">
				<div class="pad-dot-25"></div>
				<i class="mdi mdi-chevron-right fg-orange" style="font-size:1.5em;"></i>
				<div class="pad-dot-25"></div>
				<div class="f-col jc-center">
					<div class="title"><span>{ opts.title || 'Untitled Screen' }</span></div>
					<div if="{ opts.category }" class="category fg-orange"><span>{ opts.category || 'Uncategorized' }</span></div>
				</div>
			</div>

		</div>
		<div class="right f-row ai-center">
			<ui-icon each="{ opts.icons }" ref="{ ref }" mdicon="{ mdicon }" onclick="{ onclick }" />
		</div>
	</div>
	<style>
		.title { padding:0em .5em; }
		.title span { font-size:1.15em;font-weight:500; }
		.category { padding:0em .5em; }
		.category span { font-size:0.875em;font-weight:400;text-transform:uppercase; }
		.nav-bar { height:3.5em; }
		.left { padding-left:.5em; }
		.right { padding-right:.5em; }
		.logo-resize { width:7.5em; height:1.8em; }
		.logo-bg {
			background-image:url('system/assets/img/evosus_logo-transparent.png');
			background-size:contain;
			background-repeat:no-repeat;
			background-position:center center;
			width:100%;
			height:100%;
		}
	</style>
	<script>
		this.mixin(IO.default);
		this.navMenuClick = () => {
			IO.default.obs.trigger('OPEN_NAV_MENU');
		}
	</script>
</nav-bar>
