<nav-menu>
	<div class="nav-menu { opts.css } { closed: !opts.isOpen }">
		<div class="nav-menu-bar f-row ai-center jc-between { opts.cssHead }">
			<ui-icon mdicon="mdi mdi-close" onclick="{ parent.closeNavMenu }" />
		</div>
		<div class="nav-menu-bar f-row ai-center shadow { opts.cssHead }">
			<ui-icon mdicon="mdi mdi-account-circle" />
			<div class="pad-dot-25"></div>
			<div class="f-col f-one">
				<span>{ opts.userName }</span>
				<span style="font-size:0.875em;" class="white-dot-5">{ opts.companyName }</span>
			</div>
		</div>
		<div class="links { opts.cssLinks }">

			<div class="pad-dot-5"></div>

			<div each="{ opts.items }">

				<div if="{ route != currentRoute }"
					class="nav-link inactive f-row ai-center jc-start"
					route="{ route }" onclick="{ link }">
					<ui-icon mdicon="{ mdicon }" />
					<h4>{ title }</h4>
				</div>

				<div if="{ route == currentRoute }"
					class="nav-link active f-row ai-center jc-start { parent.opts.cssActive }"
					route="{ route }">
					<ui-icon mdicon="{ mdicon }" />
					<h4>{ title }</h4>
				</div>

			</div>

		</div>
	</div>
	<script>
		this.mixin(IO.default);
		this.currentRoute = '/';
		this.link = (e) => {
			IO.default.obs.trigger('NAV_MENU_LINK',e.item.route);
		}
		this.on('update', () => {
			this.currentRoute = '/' + window.location.hash.replace('#','');
		});
	</script>
	<style>
		h4 { font-weight:400;margin:0;padding:0em .5em; }
		.nav-menu {
			position:fixed;z-index:9700;
			width:19em;height:100vh;top:0;left:0;
			box-shadow: 1px 0px 3px 2px rgba(0,0,0,0.25);
			transition:.2s ease-in-out all;
		}
		.links {
			height:calc(100vh - 7em);
			overflow-y:auto;	
		}
		.nav-menu.closed { left:-20em;box-shadow:none; }
		.nav-menu-bar { height:3.5em;padding:0em .5em; }
		.nav-link { padding:0em .5em;transition:.2s ease-in-out all; }
		.nav-link.active h4 { font-weight:500; }
		.nav-link.inactive { cursor:pointer; }
		.nav-link.inactive:hover { background:rgba(0,0,0,0.1); }
	</style>
</nav-menu>
