import IO from '../IO.js';
<!--
UI ICON
!-->
<ui-icon>
	<div class="ui-icon f-row ai-center jc-center { opts.css }">
		<i class="{ opts.mdicon }"></i>
	</div>
	<style>
		.ui-icon {
			width:2.5em;
			height:2.5em;
			border-radius:50%;
			cursor:pointer;
			transition:.2s ease-in-out all;
		}
		.ui-icon > i { font-size:1.5em; }
		.ui-icon:hover {
			box-shadow:0px 2px 3px 2px rgba(0,0,0,0.15);
		}
	</style>
</ui-icon>
