<ui-modal>
	<div if="{ opts.isOpen }" class="ui-modal f-col ai-center jc-center fill">
		<div class="ui-white rounded modal-shadow">
			<div class="modal-contents">
				<div id="modalMount">
					<div class="pad-1 fg-grey-lt">
						Loading...
					</div>
				</div>	
			</div>	
		</div>
	</div>
	<style>
		.modal-close { cursor:pointer; }
		.modal-close i { color:grey;transition:.2s ease-in-out all; }
		.modal-close:hover i { color:red; }
		.ui-modal {
			position:absolute;
			z-index:9800;	
			width:100vw;
			height:100vh;
			background:transparent;
			transition:.2s ease-in-out all;
		}
		.ui-modal.fill { background:rgba(0,0,0,0.5); }
		.modal-shadow {
			overflow:hidden;
			box-shadow:0px 10px 60px 10px rgba(0,0,0,0.5);
		}
	</style>
	<script>
		this.mixin(IO.default);
		this.on('update',() => {
			if(this.opts.template) {
				riot.mount('#modalMount',this.opts.template,this.opts.templateOpts || {});	
			}
		});
	</script>
</ui-modal>
